#header {
    display: grid;
    height:100vh;
    overflow: hidden;
    position: relative;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    margin-top: 6rem;

    @media screen and (min-width: 768px) {
        // height: 65vh;
        margin-top: 0;
    }

    &::before,
    &::after {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh;
        // max-height: 740px;
        width: 70vw;
        position: absolute;
        // z-index: -2;
        // margin-top: 5rem;

        // @media screen and (min-width: 768px) {
        //     // height: 65vh;
        //     width: 65vw;
        // }

        @media screen and (min-width: 1200px) {
            // height: 65vh;
            width: 40vw;
        }
    }

    &::before {
        animation: slide-fade-in-left-mobile 1s 1s forwards;
        left: -75vw;
        background-image: url('../assets/left.png');
        background-position: center right;

        @media screen and (min-width: 1200px) {
            left: -100vw;
            animation: slide-fade-in-left 1s 1s forwards;
        }

        @keyframes slide-fade-in-left-mobile {
            from {
                opacity: 0;
                left: -75vw;
            }

            to {
                opacity: 1;
                left: -55vw;
            }
        }

        @keyframes slide-fade-in-left {
            from {
                opacity: 0;
                left: -30vw;
            }

            to {
                opacity: 1;
                left: -25vw;
            }
        }
    }

    &::after {
        // outline: solid 1px blue;
        animation: slide-fade-in-right-mobile 1s  1s forwards;
        right: -75vw;
        background-image: url('../assets/right.png');
        background-position: center left;

        @media screen and (min-width: 1200px) {
            right: -100vw;
            animation: slide-fade-in-right 1s  1s forwards;
        }

        @keyframes slide-fade-in-right-mobile {
            from {
                opacity: 0;
                right: -75vw;
            }

            to {
                opacity: 1;
                right: -55vw;
            }
        }

        @keyframes slide-fade-in-right {
            from {
                opacity: 0;
                right: -30vw;
            }

            to {
                opacity: 1;
                right: -25vw;
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            margin-bottom: 1em;
        }

        to {
            opacity: 1;
            margin-bottom: 0;
        }
    }

    #title {
        display:flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1 / 13;
        grid-row: 1 / 10;
        width: 100%;
        overflow: hidden;
        position: relative;
        
        transition: margin-top 0.25s ease; // Animates the downwards shift of the page when the mobile nav is collapsed

        
        div {
            margin: 0 auto;
            margin-bottom: 1em;
            animation: fade-in 0.5s 0.5s ease forwards;
            opacity: 0;
        }
        
        img {
            margin-bottom: 1rem;
        }

        video {
            width: 220px;

            @media screen and (min-width: 992px) {
                width: 320px;
            }

            // @media screen and (min-width: 1200px) {
            //     width: 520px;
            // }

            // @media screen and (min-width: 1440px) {
            //     width: 620px;
            // }
        }

        h1 {
            line-height: 2.8125rem;
            margin-bottom: 0.375rem;
        }

        hr {
            border-top: solid 4px #000;
            border-style: solid;
            margin-bottom: 0.375rem;
            width: 75%;
        }

        span {
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 0.125rem;
        }
    }

    #scroll-down {
        font-size: 2rem;
        grid-column: 5 / 9;
        grid-row: 11 / 12;
        margin: 0 auto;
        transition: all 0.25s ease;
        color: rgba(0, 0, 0, 0.1);
 
        &:hover {
            color: #000;
            
            &::after {
                height: 0;
                display: none;
            }

        }
    }
}